.button {
    width: 100px;
    height:50px;
    background-color:rgb(183, 250, 199);
  }


.i {
    margin-left: 3em;
    margin-right: 3em;
}

.header {
  background-color: cornflowerblue;
  height:60px;
}

.body {
  background-color: antiquewhite;
}

.a {
  background-color: pink;
}

.html {
  line-height: 30px;
}