.greenbutton {
    width: 800px;
    height:150px;
    background-color:rgb(215, 254, 225);
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20pt;
    font-weight: bold;
}

.greenbutton:active {
  width: 800px;
  height:150px;
  background-color:rgb(82, 139, 97);
  border-radius: 10px;
  border: 3px solid black;
  font-size: 20pt;
  font-weight: bold;
}

.pinkbutton {
    width: 100px;
    height:50px;
    background-color:rgb(250, 183, 204);
    border-radius: 10px;
    border: 3px solid black;
    font-size: 15pt;
}

.pinkbutton:active {
  width: 100px;
  height:50px;
  background-color:rgb(165, 92, 115);
  border-radius: 10px;
  border: 3px solid black;
  font-size: 15pt;
}

.bluebutton {
    width: 100px;
    height:50px;
    background-color:rgb(185, 183, 250);
    border-radius: 10px;
    border: 3px solid black;
    font-size: 15pt;
}

.bluebutton:active {
  width: 100px;
  height:50px;
  background-color:rgb(94, 91, 173);
  border-radius: 10px;
  border: 3px solid black;
  font-size: 15pt;
}

.yellowbutton {
  width: 100px;
  height:50px;
  background-color:rgb(250, 247, 183);
  border-radius: 10px;
  border: 3px solid black;
  font-size: 15pt;
}

.yellowbutton:active {
  width: 100px;
  height:50px;
  background-color:rgb(169, 165, 80);
  border-radius: 10px;
  border: 3px solid black;
  font-size: 15pt;
}

.purplebutton {
  width: 100px;
  height:50px;
  background-color:rgb(206, 174, 243);
  border-radius: 10px;
  border: 3px solid black;
  font-size: 15pt;
}

.purplebutton:active {
  width: 100px;
  height:50px;
  background-color:rgb(129, 88, 177);
  border-radius: 10px;
  border: 3px solid black;
  font-size: 15pt;
}

.textarea {
  width: 1000px;
  height: 500px;
  margin-left: 2em;
  background-color: rgb(204, 247, 225);
  border-radius: 10px;
  border: 3px solid black;
  font-size: 12.5pt;
  line-height: 150%;
}

.title {
  width: 1000px;
  margin-left: 2em;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 12.5pt;
}

.i {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 10.5pt;
}

.d {
  font-size: 12pt;
}

.l {
  font-size: 20pt;
  font-weight: bold;
}

.m {
    margin-left: 2em;
    margin-right: 16em;
    background-color: rgb(244, 212, 243);
    border-radius: 5px;
}

.t {
  margin-left: 2em;
  margin-right: 16em;
  background-color: rgb(212, 239, 244);
  border-radius: 5px;
}

.header { 
  height:60px;
  background:linear-gradient(90deg, rgb(100, 149, 237), rgb(201, 213, 228));
}

body {
  background-color: rgb(241, 235, 248);
}

.a {
  background:linear-gradient(90deg, rgb(255, 178, 191), rgb(255, 222, 227));
}

.b {
  background-color: pink;
}